.application {
	padding: 100px 0;
	@media (min-width: 320px) and (max-width: 1023px) {
		padding: 50px 0;

	}
	&__info {
		&-title {
			font-weight: 400;
			font-size: 20px;
			line-height: 27px;
		}
	}
}

.formoverlay {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100vh;
	background: rgba(20, 20, 20, 0.8);
	&__content {
		width: 875px;
		height: 782px;
		padding: 30px;
		position: relative;
		background: $white;
		box-shadow: 0px 4px 30px rgba(51, 36, 36, 0.1);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		&-closebtn {
			position: absolute;
			top: 0;
			right: -40px;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
		text-align: center;
		&-title {
			font-weight: 600;
			font-size: 25px;
			line-height: 34px;
		}
		&-text {
			font-size: 16px;
			line-height: 120%;
			opacity: 0.7;
			color: #707070;
		}
	}
}
.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&-txt {
		font-size: 16px;
		line-height: 120%;
		color: #707070;
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 10px;
		&-button {
			background: #91d971;
			border-radius: 10px;
			font-weight: 400;
			font-size: 20px;
			line-height: 27px;
			color: #254c14;
			padding: 15px 0;
		}
		input {
			background: #f3f3f3;
			border: 1px solid #f3f3f3;
			border-radius: 10px;
			padding: 14px 0 14px 20px;
			font-size: 20px;
			line-height: 27px;
			&::placeholder {
				color: #707070;
			}
			&:hover {
				border: 1px solid #bebebe;
			}
		}
		select {
			width: 402px;
			height: 55px;
			background: #f3f3f3;
			border-radius: 10px;
			border: 1px solid #f3f3f3;
			padding: 14px 20px;
			color: #707070;
			font-size: 20px;
			line-height: 27px;
			&:hover {
				border: 1px solid #bebebe;
			}
		}
		&-tel {
			width: 402px;
			height: 55px;
		}
		&-dateform {
			position: relative;
		}
		&-date {
			width: 402px;
			height: 55px;
		}
		&-icon {
			position: absolute;
			top: 18px;
			right: 10px;
		}
		&-diseases {
			width: 815px;
			height: 55px;
		}
		&-about {
			width: 265px;
			height: 55px;
			&_age {
				width: 402px;
				height: 55px;
			}
			// &:valid {
			// 	border: 1px solid #66c825;
			// }
			&:invalid {
				border: 1px solid #e94613;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.formoverlay {
		gap: 10px;
		&__content {
			width: 440px;
			height: auto;
		}
		&__info {
			display: flex;
			flex-direction: column;
			gap: 10px;
			text-align: center;
			&-title {
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
			}
			&-text {
				font-size: 13px;
			}
		}
	}
	.form {
		&-txt {
			font-size: 13px;
		}
		&__info {
			&-button {
				font-size: 17px;
				line-height: 20px;
			}
			input {
				padding: 7px 0 7px 10px;
				font-size: 14px;
				line-height: 16px;
			}
			select {
				width: 202px;
				height: 45px;
				padding: 7px 10px;
				font-size: 14px;
				line-height: 16px;
			}
			&-tel {
				width: 202px;
				height: 45px;
			}
			&-dateform {
				position: relative;
			}
			&-date {
				width: 202px;
				height: 45px;
			}
			&-icon {
				display: none;
			}
			&-diseases {
				width: 415px;
				height: 45px;
			}
			&-about {
				width: 135px;
				height: 45px;
				&_age {
					width: 202px;
					height: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.formoverlay {
		gap: 5px;
		&__content {
			width: 320px;
			&-closebtn {
				top: -35px;
				right: 0;
			}
		}
		&__info {
			gap: 5px;
			&-title {
				font-size: 15px;
				line-height: 18px;
			}
			&-text {
				font-size: 11px;
			}
		}
	}
	.form {
		&-txt {
			font-size: 11px;
		}
		&__info {
			&-button {
				font-size: 13px;
				line-height: 15px;
			}
			input {
				font-size: 11px;
				line-height: 12px;
			}
			select {
				width: 142px;
				height: 45px;
				font-size: 11px;
				line-height: 12px;
			}
			&-tel {
				width: 142px;
				height: 45px;
			}
			&-dateform {
				position: relative;
			}
			&-date {
				width: 142px;
				height: 45px;
			}
			&-icon {
				display: none;
			}
			&-diseases {
				width: 300px;
				height: 45px;
			}
			&-about {
				width: 95px;
				height: 45px;
				&_age {
					width: 142px;
					height: 35px;
				}
			}
		}
	}
}
