.footer {
	border-radius: 30px 30px 0px 0px;
	padding: 3rem 0 ;
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}
	&__top {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-auto-flow: column;
		@media (min-width: 320px) and (max-width: 1023px) {
			display: none;
		}
		&--mobile{
			display: none;
			@media (min-width: 320px) and (max-width: 1023px) {
				width: 100%;
				display: block;
			}
		}
		&-logo > img{
			@media (min-width: 320px) and (max-width: 1023px) {
				width: 100%;
			}
		}
		&-social {
			display: grid;
			grid-template-columns: auto auto auto auto;
			justify-content: space-between;
			width: 100%;
			grid-template-areas:
				'block-1 block-2 block-3 block-4';
			grid-gap: 15px;
			@media (min-width: 320px) and (max-width: 1023px) {
				justify-content: center;
				grid-template-columns: 1fr auto auto;
				grid-template-areas:
				'block-1 block-2 block-3 '
				'block-4 block-4 block-4';


			}
			& > .footer__top-logo{
				grid-area: block-1;
				justify-self: end;
			}
			& > .footer__top-link:nth-child(1){
				grid-area: block-2;
				justify-self: end;
			}
			& > .footer__top-link:nth-child(2){
				grid-area: block-3;
				justify-self: start;
			}
			& > .footer__top-btn{
				grid-area: block-4;
				width: 100%;
			}
		}
		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #FFFFFF;
			border: 1px solid #F3EDE7;
			border-radius: 10px;
			padding: 13px;
		}
		&-twitter {
			width: 28px;
			height: 28px;
		}
		&-btn {
			width: 288px;
			height: 56px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px 25px;
			border-radius: 10px;
			background: $olive;
			color: $mainColor;
			transition: all 0.3s ease-in-out;
			&:hover {
				border-radius: 40px;
			}
		}
	}
	&__about {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 20px;
		@media (min-width: 320px) and (max-width: 1023px) {
			grid-template-columns: 1fr;
			grid-gap: 20px;
			justify-content: center;
			justify-items: center;
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: 15px;
			font-size: 20px;
			line-height: 24px;
			background: #FFFFFF;
			border: 1px solid #F3EDE7;
			border-radius: 10px;
			width: 100%;
			padding: 20px;
			@media (min-width: 320px) and (max-width: 1023px) {
				max-width: 360px;
				font-size: 16px;
				padding: 1rem;
			}
			a {
				color: $mainColor;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: $pink;
				}
			}
		}
		&-title {
			opacity: 0.7;
			@media (min-width: 320px) and (max-width: 1023px) {
				font-size: 18px;
			}

		}
	}
	&__bottom {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-auto-flow: column;
		@media (min-width: 320px) and (max-width: 1023px) {
			grid-auto-flow: row;
			justify-content: center;
			justify-items: center;
			grid-gap: 20px;
			text-align: center;
		}
		&-left{
			@media (min-width: 320px) and (max-width: 1023px) {
				font-size: 16px;
			}
		}
		&-right {
			color: $mainColor;
			@media (min-width: 320px) and (max-width: 1023px) {
				font-size: 16px;
			}
			span {
				color: $pink;
			}
		}
	}
}


