.reviews {
	background: $secondWhite;
	padding: 100px 0px;
	&__block {
		display: flex;
		flex-direction: column;
		gap: 130px;
	}
	&__info {
		display: flex;
		gap: 349px;
		&-text {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&-title {
			font-family: 'Lora';
			font-weight: 500;
			font-size: 48px;
			line-height: 110%;
		}
		&-description {
			max-width: 640px;
			span {
				color: $pink;
			}
		}
		&-button {
			width: 310px;
			height: 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px 25px;
			background: $olive;
			border-radius: 10px;
			color: $mainColor;
			transition: all 0.3s ease-in-out;
			&:hover {
				border-radius: 40px;
			}
		}
	}
	&__tabs {
		display: flex;
		flex-direction: column;
		gap: 130px;
		&-btn {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			object-fit: cover;
			padding: 10px;
			filter: drop-shadow(0px 4px 30px rgba(71, 10, 39, 0.1));
			transition: all 0.3s ease-out;
			@media (min-width: 320px) and (max-width: 1023px){
				width: 70px;
				height: 70px;
			}
			&:hover {
				transform: scale(1.8);
				border: 7px solid $white;
				filter: drop-shadow(0px 20px 40px rgba(35, 14, 29, 0.2));
			}
		}
		&-active {
			border: 7px solid $white;
			transform: scale(1.8);
		}
		&-box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			column-gap: 193px;
			row-gap: 100px;
		}
		&-img {
			width: 100px;
			height: 100px;
			@media (min-width: 320px) and (max-width: 1023px){
				width: 70px;
				height: 70px;
			}
		}
	}
	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&-item {
			align-items: center;
			gap: 75px;
			display: none;
			&-active {
				display: flex;
			}
		}
		&-profile {
			position: relative;
			width: 200px;
			height: 200px;
		}
		&-img {
			width: 200px;
			height: 200px;
		}
		&-frame {
			position: absolute;
			top: 10px;
			left: 5px;
			width: 180px;
			height: 180px;
		}
		&-info {
			max-width: 788px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&-text {
			font-size: 18px;
			line-height: 25px;
		}
		&-name {
			font-weight: 700;
		}
		&-quotes {
			width: 80px;
			height: 80px;
			position: absolute;
			top: 180px;
			right: 100px;
		}
	}
}
@media screen and (max-width: 1250px) {
	.reviews{
		padding-top: 50px;
		&__info{
			gap: 0;
			justify-content: space-between;
			&-description{
				max-width: 440px;
			}
		}
		&__tabs{
			&-box{
				gap: 83px;
			}
		}
	}
}
@media screen and (max-width: 992px) {
	.reviews{
		&__info{
			&-button{
				width: 250px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.reviews{
		&__info{
			&-title{
				font-size: 38px;
			}
			&-description{
				max-width: 280px;
				font-size: 15px;
				line-height: 20px;
			}
			&-button{
				width: 200px;
				font-size: 16px;
			}
		}
		&__content{
			&-item{
				gap: 45px;
			}
			&-text{
				font-size: 14px;
				line-height: 20px;
			}
			&-name{
				font-size: 16px;
			}
		}
	}
}
@media screen and (max-width: 576px) {
	.reviews{
		&__info{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 30px;
			&-title{
				text-align: center;
				font-size: 38px;
			}
			&-description{
				text-align: center;
				max-width: 330px;
				font-size: 14px;
			}
			&-button{
				width: 170px;
				font-size: 13px;
			}
		}
		&__content{
			&-item{
				flex-direction: column;
			}
			&-quotes{
				top: 400px;
			}
		}
	}
}