.awards {
	padding: 100px 0;
	&__content {
		display: flex;
		justify-content: space-between;
		&-title {
			font-family: 'Lora';
			font-weight: 500;
			font-size: 48px;
			line-height: 110%;
			max-width: 540px;
		}
		&-info {
			max-width: 640px;
			span {
				color: $pink;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.awards {
		&__content {
			&-title {
				font-size: 42px;
			}
			&-info {
				font-size: 18px;
				line-height: 25px;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.awards {
		&__content {
			flex-direction: column;
			gap: 20px;
			align-items: center;
			&-title {
				max-width: 640px;
				font-size: 48px;
			}
			&-info {
				font-size: 20px;
				line-height: 27px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.awards {
		&__content {
			&-title {
				font-size: 42px;
			}
			&-info {
				max-width: 540px;
				font-size: 18px;
				line-height: 25px;
			}
		}
	}
}
