$white: #ffffff;
$secondWhite: #f5f5f5;
$thirdWhite: #efefef;
$fourthWhite: #f3f3f3;
$black: #000000;
$pink: #e9138d;
$mapColor: #fcb6d8;
$mainColor: #323232;
$olive: #91d971;
$grey: #bebebe;
$darkGrey: #4f4f4f;
$orange: #fe970a;
$lightPink: #dfc8d5;
$downloadCard: #d9d9d9;
$burgundy: #833526;
$blue: #5e9abc;
